* {
    box-sizing: border-box;
}

body {
    background:linear-gradient(0deg, hsla(25, 50%, 100%, 0.5), hsla(25, 50%, 110%, 0.5)), url(tv-bg.jpeg);
    background-size: cover;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px #333 solid;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 250px;
    margin-bottom: 5px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.container {
    max-width: 50%;
    min-width: 300px;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    border: 3px #333 solid;
    border-radius: 10px;
}

.times {
    background: #eee;
    text-align: left;
    margin: auto;
    max-width: 250px;
    border: 1px #333 dashed;
    border-radius: 10px;
}
#total-el,
#net-el,
#times-saved-el {
    padding-left: 10px;
}

#increment-btn {
    display: block;
    margin: 10px auto;
    background: darkgreen;
}

#increment-btn:hover {
    background: green;
}

#increment-btn:active {
    color: #333;
    background: limegreen;
}

#decrement-btn {
    display: block;
    margin: 10px auto;
    background: darkred;
}

#decrement-btn:hover {
    background: brown;
}

#decrement-btn:active {
    color: #333;
    background: crimson;
}

#save-btn {
    display: block;
    margin: 10px auto;
    color: #333;
    background: darkgrey;
}

#save-btn:hover {
    color: white;
    background: grey;
}

#save-btn:active {
    color: #333;
    background: lightgrey;
}

#reset-btn {
    display: block;
    margin: 10px auto;
    background: darkgrey;
    color: #333;
    width: 100px;
    font-size: .5em;
}

#reset-btn:hover {
    color: white;
    background: darkred;
}

#reset-btn:active {
    color: #333;
    background: red;
}

@media only screen and (max-width: 768px) {
    body {
        background: none;
        font-size: 1.5em;
    }
    
    button {
        font-size: 1.2em;
    }
    
    .container {
        width: 100%;
        margin: auto;
        background-color: #fff;
        padding: 10px;
        border: none;
    }
}
